.cache
.docker
.dotnet
.pki
.vscode-server
.bash_history
.bash_profile
.bashrc
.env
.kshrc
.viminfo
.Xauthority
.zshrc
.python_history
.bash_logout
backend/fastapi
backend/temp
**/__pycache__
/certificates
.console-ninja
.local
.rnd
.env.pgadmin